---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="9095c512e97fa5de156eca5ca8ac4a9a",
        oauth_signature="qz7wu%2BHzvkBvW2EwbK6zvyJY0pQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455851678", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 03:14:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 395e01f4d79937ed52b55932f34e132d
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1455852413'
      X-Response-Time:
      - '20'
      X-Transaction:
      - 0842c83995f97338
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":3767014753,"id_str":"3767014753","name":"Steven Olson","screen_name":"oSteveOscar","location":"Denver,
        CO","description":"Current Turing student, photographer, traveler, former
        commercial fisherman. Life-long cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":40,"friends_count":74,"listed_count":0,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":49,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":41,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Fri, 19 Feb 2016 03:14:38 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=3767014753
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="c7c6d4f9adf8e14d19eba9472d1fd7a9",
        oauth_signature="73WLceh%2BxVXetMyAEqIbRs3OjpU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455851678", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 03:14:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 761e2ee978c497cd8fc55eef462528c3
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '10'
      X-Rate-Limit-Reset:
      - '1455852413'
      X-Response-Time:
      - '121'
      X-Transaction:
      - 9cb3b438e16072c6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":2053151,"id_str":"2053151","name":"Rosie Kohn","screen_name":"kohniva","location":"Denver,
        CO","description":"associate software engineer at @welltok graduate from @turingschool","url":"http:\/\/t.co\/Qo4nVSvw5M","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Qo4nVSvw5M","expanded_url":"http:\/\/rosekohn.com","display_url":"rosekohn.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":285,"friends_count":165,"listed_count":6,"created_at":"Fri
        Mar 23 21:04:26 +0000 2007","favourites_count":171,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":722,"lang":"en","status":{"created_at":"Thu
        Feb 18 14:09:05 +0000 2016","id":700321139407454208,"id_str":"700321139407454208","text":"RT
        @j3: Why is @turingschool\u2019s graduation rate 25% lower than other programs?
        Theories: https:\/\/t.co\/PdJYFPNvlU","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Feb 17 18:57:52 +0000 2016","id":700031426792546304,"id_str":"700031426792546304","text":"Why
        is @turingschool\u2019s graduation rate 25% lower than other programs? Theories:
        https:\/\/t.co\/PdJYFPNvlU","source":"\u003ca href=\"http:\/\/tapbots.com\/software\/tweetbot\/mac\"
        rel=\"nofollow\"\u003eTweetbot for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":{"id":"460b8a5f636e7c9e","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/460b8a5f636e7c9e.json","place_type":"neighborhood","name":"Union
        Station","full_name":"Union Station, Denver","country_code":"US","country":"United
        States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-105.008219,39.7455573],[-104.991716,39.7455573],[-104.991716,39.760381],[-105.008219,39.760381]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":21,"favorite_count":39,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"turingschool","name":"Turing
        School","id":1973042528,"id_str":"1973042528","indices":[7,20]}],"urls":[{"url":"https:\/\/t.co\/PdJYFPNvlU","expanded_url":"https:\/\/gist.github.com\/jcasimir\/c52ddccb5b527e1bba87","display_url":"gist.github.com\/jcasimir\/c52dd\u2026","indices":[80,103]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":21,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"j3","name":"Jeff
        Casimir","id":1133971,"id_str":"1133971","indices":[3,6]},{"screen_name":"turingschool","name":"Turing
        School","id":1973042528,"id_str":"1973042528","indices":[15,28]}],"urls":[{"url":"https:\/\/t.co\/PdJYFPNvlU","expanded_url":"https:\/\/gist.github.com\/jcasimir\/c52ddccb5b527e1bba87","display_url":"gist.github[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1522741774021179983&user_id=3767014753
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="508836e5512df73886b8a94f0a0ba6e2",
        oauth_signature="fwuB%2ByCXYpjaj91KSUc7rCYafkM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455851679", oauth_token="3767014753-pzD4G6hhmyH0dHEB[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=3767014753
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="0b586614f4e1c20c2bc6c9d035ea85b5",
        oauth_signature="D3blyeLN4L0X8GxxeARlcojKvvA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455851680", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRx[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=1525645003107273753&user_id=3767014753
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="6b9df8063542ec0a553b170595bd0d57",
        oauth_signature="bVut35yBgQ%2Bx2yjTU7rxv9KZpHM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455851680", oauth_token="3767014753-pzD4G6hhmyH0dHEBNO[...]
[...]
