---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="a346a6508afc3996154c84e7448b2cc7",
        oauth_signature="WhCNccFfJchmaYJhgRma6knqpk0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455747917", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 17 Feb 2016 22:25:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - fff1f4bdd5350d9af9438a1998e02ce7
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1455748818'
      X-Response-Time:
      - '136'
      X-Transaction:
      - a14b2eec9b9f8a8b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Feb 16 01:58:33 +0000 2016","id":699412518087733249,"id_str":"699412518087733249","text":"#noosa
        exclusives, the best part of living in Colorado https:\/\/t.co\/lcoX2E7OCJ","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Current
        Turing student, photographer, traveler, former commercial fisherman. Life-long
        cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":38,"friends_count":58,"listed_count":0,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":42,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":38,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1450074858","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[{"text":"noosa","indices":[0,6]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":699411859795898368,"id_str":"699411859795898368","indices":[55,78],"media_url":"http:\/\/pbs.twimg.com\/media\/CbTPYX7UcAAAc5H.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CbTPYX7UcAAAc5H.jpg","url":"https:\/\/t.co\/lcoX2E7OCJ","display_url":"pic.twitter.com\/lcoX2E7OCJ","expanded_url":"http:\/\/twitter.com\/oSteveOscar\/status\/699412518087733249\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":1365,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":800,"resize":"fit"},"small":{"w":340,"h":453,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":699411859795898368,"id_str":"699411859795898368","indices":[55,78],"media_url":"http:\/\/pbs.twimg.com\/media\/CbTPYX7UcAAAc5H.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CbTPYX7UcAAAc5H.jpg","url":"https:\/\/t.co\/lcoX2E7OCJ","display_url":"pic.twitter.com\/lcoX2E7OCJ","expanded_url":"http:\/\/twitter.com\/oSteveOscar\/status\/699412518087733249\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":1365,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":800,"resize":"fit"},"small":{"w":340,"h":453,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Feb 15 05:13:58 +0000 2016","id":699099309585764352,"id_str":"699099309585764352","text":"RT
        @BiIIMurray: \u201cMake it rain\u201d is the only appropriate response when
        asked if you want freshly grated parmesan.","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_u[...]
