---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/retweet/700524213833084928.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="c83f958236b50c0f6722f7b5c46b4c88",
        oauth_signature="%2Bc7EL3pHs6G0iEOF4u5TNWdhF%2BM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455863214", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 06:26:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bf79c508bdd191de1c3f198117348d45
      X-Response-Time:
      - '84'
      X-Transaction:
      - 56f42e9911c24ee6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Feb 19 06:26:54 +0000 2016","id":700567215498612736,"id_str":"700567215498612736","text":"RT
        @moeyoldbold: Seething after driving by people protesting planned parenthood.
        Hope they saw my middle finger \ud83d\udd95\ud83c\udffc","source":"\u003ca
        href=\"http:\/\/steveoscaro.github.io\" rel=\"nofollow\"\u003etwitter_scroll\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Current
        Turing student, photographer, traveler, former commercial fisherman. Life-long
        cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":40,"friends_count":74,"listed_count":0,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":49,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":43,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Feb 18 19:25:03 +0000 2016","id":700400654326435840,"id_str":"700400654326435840","text":"Seething
        after driving by people protesting planned parenthood. Hope they saw my middle
        finger \ud83d\udd95\ud83c\udffc","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_repl[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="0cad8199c537d07be064b037f1d8216b",
        oauth_signature="ZenkkxptLvEXHjyGJiXdItCaZcY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455863214", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 06:26:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 27f254896e65f003cf769a4083b0b389
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1455864115'
      X-Response-Time:
      - '64'
      X-Transaction:
      - 5acbe46be44f75f7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Feb 19 04:50:12 +0000 2016","id":700542880167755776,"id_str":"700542880167755776","text":"RT
        @TheEllenShow: Happy #ThrowbackThursday #Adellen https:\/\/t.co\/CaSNvBO88Q","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"[...]
