---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="308078d9ede663742d2f265c434911d9",
        oauth_signature="XIcZ6dVxNjHGWHxeC7FV99OHxBk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455811778", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 18 Feb 2016 16:09:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 65f084e35a611614f77ab602c81ec9f8
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1455812678'
      X-Response-Time:
      - '107'
      X-Transaction:
      - fe4b7cb5485895a6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Feb 18 15:25:18 +0000 2016","id":700340317430501376,"id_str":"700340317430501376","text":"RT
        @SaraJChipps: Imagine if all these pedantic developers railing against CoCs
        were focused on literally anything else?","source":"\u003ca href=\"http:\/\/tapbots.com\/tweetbot\"
        rel=\"nofollow\"\u003eTweetbot for i\u039fS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1133971,"id_str":"1133971","name":"Jeff
        Casimir","screen_name":"j3","location":"Denver, CO","description":"Don''t
        talk about it, be about it. Executive Director at the @TuringSchool.","url":"https:\/\/t.co\/TrJ7G7QGvg","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/TrJ7G7QGvg","expanded_url":"http:\/\/turing.io","display_url":"turing.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":6535,"friends_count":1378,"listed_count":437,"created_at":"Wed
        Mar 14 02:35:24 +0000 2007","favourites_count":4702,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":24528,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"9AE4E8","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/7508525\/DSC00302.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/7508525\/DSC00302.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/667052575775043584\/GAMQ5_2P_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/667052575775043584\/GAMQ5_2P_normal.jpg","profile_link_color":"0000FF","profile_sidebar_border_color":"87BC44","profile_sidebar_fill_color":"E0FF92","profile_text_color":"000000","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Feb 18 15:00:53 +0000 2016","id":700334175233114112,"id_str":"700334175233114112","text":"Imagine
        if all these pedantic developers railing against CoCs were focused on literally
        anything else?","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to[...]
