---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="bceb4259fb1cdc4eb5cff095b7e31ae7",
        oauth_signature="a%2FZZ2Gjc1761SLZFbK09SjednVw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455813079", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 18 Feb 2016 16:31:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a01c84f6c83eb09af5e8eb3ff5c6d345
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1455813980'
      X-Response-Time:
      - '32'
      X-Transaction:
      - 91495b3daa38fe47
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":3767014753,"id_str":"3767014753","name":"Steven Olson","screen_name":"oSteveOscar","location":"Denver,
        CO","description":"Current Turing student, photographer, traveler, former
        commercial fisherman. Life-long cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":39,"friends_count":73,"listed_count":0,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":47,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":40,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 18 Feb 2016 16:31:20 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=3767014753
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="314196c913b9213ca02073444b56962f",
        oauth_signature="CfncvpTirVQk4gqG8YQFzPwz8w4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455813080", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 18 Feb 2016 16:31:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 53e8472c1c2038ec2ff65ef3be7a09cd
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1455813980'
      X-Response-Time:
      - '103'
      X-Transaction:
      - 4e41cc8e87edc560
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":167486448,"id_str":"167486448","name":"David Stinnette","screen_name":"dastinnette","location":"Colorado","description":"Boilermaker,
        globetrotter, Cubs apologist | Earning my green belt in software development
        @turingschool | Go play outside","url":"https:\/\/t.co\/7sqkSSbVhw","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/7sqkSSbVhw","expanded_url":"http:\/\/dastinnette.github.io","display_url":"dastinnette.github.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":417,"friends_count":45,"listed_count":9,"created_at":"Fri
        Jul 16 18:25:49 +0000 2010","favourites_count":54,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":1472,"lang":"en","status":{"created_at":"Wed
        Feb 17 19:29:51 +0000 2016","id":700039475615772673,"id_str":"700039475615772673","text":"@j3
        if you''re enrolling in a software program, might as well go with the most
        rigorous. That choice has consequences for some.","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":700038807945502720,"in_reply_to_status_id_str":"700038807945502720","in_reply_to_user_id":167486448,"in_reply_to_user_id_str":"167486448","in_reply_to_screen_name":"dastinnette","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":3,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"j3","name":"Jeff
        Casimir","id":1133971,"id_str":"1133971","indices":[0,3]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/619286452308828160\/QtJOFBDF_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/619286452308828160\/QtJOFBDF_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/167486448\/1398292642","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":3279896940,"id_str":"3279896940","name":"minnie
        lee","screen_name":"ivegotseoul89","location":"Denver, CO","description":"Software
        Developer @ Visa. Hip Hopper. Composer. BookWorm. DogWhisperer. N64isthebest.
        FoodNetwork lover. Dance-Off?","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":109,"friends_count":259,"listed_count":2,"created_at":"Tue
        Jul 14 21:11:19 +0000 2015","favourites_count":142,"utc_offset":-28800[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1522551821775511329&user_id=3767014753
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="cff256f9d381d3b53fc28583a24d8e37",
        oauth_signature="OLCKIVyaKITxzIlKDS1sM5ctyB4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455813082", oauth_token="3767014753-pzD4G6hhmyH0dHEBNO[...]
