---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="64d6cc3a9116386b1717f381be74adb9",
        oauth_signature="Yj%2BcoYWzMuigGpmb4QMoWmrNj2U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455813204", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 18 Feb 2016 16:33:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4e6709a1e59e753851f3bda9651041e5
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1455813980'
      X-Response-Time:
      - '22'
      X-Transaction:
      - d7421f53edcbca56
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":3767014753,"id_str":"3767014753","name":"Steven Olson","screen_name":"oSteveOscar","location":"Denver,
        CO","description":"Current Turing student, photographer, traveler, former
        commercial fisherman. Life-long cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":39,"friends_count":73,"listed_count":0,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":47,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":40,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 18 Feb 2016 16:33:24 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=3767014753
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="4657684f1e3dca82923a3b47e1b683d5",
        oauth_signature="cIm0E3cQSXJiOTqg%2FfGWOJKfnsA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455813204", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 18 Feb 2016 16:33:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 2a24a784998a1b41dd398e6f01b34733
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1455814105'
      X-Response-Time:
      - '86'
      X-Transaction:
      - d433f2278f584035
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":167486448,"id_str":"167486448","name":"David Stinnette","screen_name":"dastinnette","location":"Colorado","description":"Boilermaker,
        globetrotter, Cubs apologist | Earning my green belt in software development
        @turingschool | Go play outside","url":"https:\/\/t.co\/7sqkSSbVhw","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/7sqkSSbVhw","expanded_url":"http:\/\/dastinnette.github.io","display_url":"dastinnette.github.io","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":417,"friends_count":45,"listed_count":9,"created_at":"Fri
        Jul 16 18:25:49 +0000 2010","favourites_count":54,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":1472,"lang":"en","status":{"created_at":"Wed
        Feb 17 19:29:51 +0000 2016","id":700039475615772673,"id_str":"700039475615772673","text":"@j3
        if you''re enrolling in a software program, might as well go with the most
        rigorous. That choice has consequences for some.","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":700038807945502720,"in_reply_to_status_id_str":"700038807945502720","in_reply_to_user_id":167486448,"in_reply_to_user_id_str":"167486448","in_reply_to_screen_name":"dastinnette","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":3,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"j3","name":"Jeff
        Casimir","id":1133971,"id_str":"1133971","indices":[0,3]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/619286452308828160\/QtJOFBDF_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/619286452308828160\/QtJOFBDF_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/167486448\/1398292642","profile_link_color":"0084B4","profile_sidebar_border_color":"A8C7F7","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":14902698,"id_str":"14902698","name":"ian
        douglas","screen_name":"iandouglas736","location":"","description":"Ignoring
        Q-Tip warnings since 1974. DirEng at @SimpleEnergy, but these opinions are
        mine. Mostly cross-post from Google+ http:\/\/t.co\/cDv6mvC95C","url":"http:\/\/t.co\/Uxprgupiuo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Uxprgupiuo","expanded_url":"http:\/\/iandouglas.com","display_url":"iandouglas.com","indices":[0,22]}]},"description":{"ur[...]
