---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/favorites/create.json
    body:
      encoding: UTF-8
      string: id=700524213833084928
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="9a14ba73b97f4ad290aaac92903586cc",
        oauth_signature="CSOFNAaqlRDTm2Ympke21gZsRnM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455896919", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 15:48:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 36e38f7c0f85648609a9bb43a23d17af
      X-Response-Time:
      - '141'
      X-Transaction:
      - c4fc210aa4ca9f47
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Fri Feb 19 03:36:02 +0000 2016","id":700524213833084928,"id_str":"700524213833084928","text":"RT
        @moeyoldbold: Seething after driving by people protesting planned parenthood.
        Hope they saw my middle finger \ud83d\udd95\ud83c\udffc","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2264729174,"id_str":"2264729174","name":"Marya","screen_name":"5cherrydarling5","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":42,"friends_count":51,"listed_count":0,"created_at":"Fri
        Dec 27 18:13:44 +0000 2013","favourites_count":1110,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":597,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/472880349379190784\/9nKG-_Aj_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/472880349379190784\/9nKG-_Aj_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2264729174\/1445921314","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Feb 18 19:25:03 +0000 2016","id":700400654326435840,"id_str":"700400654326435840","text":"Seething
        after driving by people protesting planned parenthood. Hope they saw my middle
        finger \ud83d\udd95\ud83c\udffc","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_repl[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="641f706ebe81bbcd014851a46e6563b2",
        oauth_signature="6UrvYdDUYj6w%2FWDZAxOKPUphhzo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455896920", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 15:48:40 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - da8326150a63a30775d0302d35d2dedf
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '12'
      X-Rate-Limit-Reset:
      - '1455897623'
      X-Response-Time:
      - '113'
      X-Transaction:
      - 1610c41ca7905567
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Feb 19 15:45:07 +0000 2016","id":700707692835262464,"id_str":"700707692835262464","text":"I
        have an extra ticket to Jupyter Day, tomorrow, anyone want to come with me?
        ^_^ https:\/\/t.co\/sco948wwrh","source":"\u003ca href=\"http:\/\/twitter.com\"
   [...]
