---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="db97019b70e85dfac68d15babed71f6c",
        oauth_signature="xuWubVlyTq%2BENE5wig%2FFyvdXakk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455846830", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 01:53:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - aba9baa74c00c507db06c557fda4c0b4
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1455847732'
      X-Response-Time:
      - '72'
      X-Transaction:
      - 30b8ac96c9ca3918
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Feb 18 19:35:39 +0000 2016","id":700403320674848768,"id_str":"700403320674848768","text":"RT
        @marsrader: Raising a rocket at night. https:\/\/t.co\/0Sbza0KKDw","source":"\u003ca
        href=\"http:\/\/steveoscaro.github.io\" rel=\"nofollow\"\u003etwitter_scroll\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Current
        Turing student, photographer, traveler, former commercial fisherman. Life-long
        cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":40,"friends_count":74,"listed_count":0,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":49,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":41,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Feb 18 18:45:37 +0000 2016","id":700390729546407937,"id_str":"700390729546407937","text":"Raising
        a rocket at night. https:\/\/t.co\/0Sbza0KKDw","source":"\u003ca href=\"https:\/\/www.socialoomph.com\"
        rel=\"nofollow\"\u003eSocialOomph\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1087860428,"id_str":"1087860428","name":"Andrew
        Rader","screen_name":"marsrader","location":"Planet Earth (for now)","description":"@SpaceX
        Engineer, @MIT PhD, Know-it-All (TV show) \u2605 Author: http:\/\/t.co\/sdWa5mCX9l
        \u2605 Youtube: http:\/\/t.co\/1Z0OfDGtUN \u2605 Tabletop Card Games: @NewHorizonGames","url":"http:\/\/t.co\/PgljWay80a","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/PgljWay80a","expanded_url":"http:\/\/www.andrew-rader.com","display_url":"andrew-rader.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/sdWa5mCX9l","expanded_url":"http:\/\/dld.bz\/dsM6F","display_url":"dld.bz\/dsM6F","indices":[60,82]},{"url":"http:\/\/t.co\/1Z0OfDGtUN","expanded_url":"http:\/\/dld.bz\/dsMyC","display_url":"dld.bz\/dsMyC","indices":[94,116]}]}},"protected":false,"followers_count":133699,"friends_count":57285,"listed_count":1352,"created_at":"Mon
        Jan 14 03:05:08 +0000 2013","favourites_count":14494,"utc_offset":-14400,"time_zone":"Atlantic
        T[...]
