---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/retweets_of_me.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="7bf0ed7a6d7e5b8abafc9beac38004d4",
        oauth_signature="IpB7BTpwHrb9TvNrWc0sSVn1xEQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455813089", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 18 Feb 2016 16:31:35 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - ddac63d770394d9da705847e74adc012
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1455813995'
      X-Response-Time:
      - '56'
      X-Transaction:
      - 4b8444eb51ea46d6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Feb 10 20:50:28 +0000 2016","id":697523046005886976,"id_str":"697523046005886976","text":"My
        amazing school @turingschool has decided I must see the full color spectrum
        \ud83d\ude02 https:\/\/t.co\/aoFec3muo5","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Current
        Turing student, photographer, traveler, former commercial fisherman. Life-long
        cereal enthusiast.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":39,"friends_count":73,"listed_count":0,"created_at":"Sat
        Oct 03 05:59:31 +0000 2015","favourites_count":47,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":40,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/676288331215335424\/xFUgQmzk_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3767014753\/1455767878","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"quoted_status_id":697503157853638657,"quoted_status_id_str":"697503157853638657","quoted_status":{"created_at":"Wed
        Feb 10 19:31:26 +0000 2016","id":697503157853638657,"id_str":"697503157853638657","text":"Check
        it out! I donated to Great photographer must see color! https:\/\/t.co\/ODyQoR6fxE
        via @gofundme","source":"\u003ca href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter
        Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":505934403,"id_str":"505934403","name":"Meeka","screen_name":"CCandUC","location":"Denver,
        CO","description":"general enthusiast","url":"http:\/\/t.co\/1laZyGBEyU","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/1laZyGBEyU","expanded_url":"http:\/\/meekaetal.com","display_url":"meekaetal.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":465,"friends_count":733,"listed_count":24,"created_at":"Mon
        Feb 27 14:40:18 +0000 2012","favourites_count":1017,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":2760,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"111212","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/469959516\/photo__40_.JPG","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/469959516\/photo__40_.JPG","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/496348912257478657\/GJFDcKOx_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/496348912257478657\/GJFDcKOx_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/505934403\/1379482613","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"gofundme","name":"GoFundMe","id":112897540,"id_str":"112897540","indices":[90,99]}],"urls":[{"url":"https:\/\/t.co\/ODyQoR6fxE","expanded_url":"https:\/\/gofund.me\/colorize_steve","display_url":"gofund.me\/colorize_steve","indices":[62,85]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":true,"retweet_count":1,"favorite_count":7,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"turingschool","name":"Turing
        School","id":1973042528,"id_str":"1973042528","indices":[18,31]}],"urls":[{"url":"https:\/\/t.co\/aoFec3muo5","expanded_url":"https:\/\/twitter.com\/CCandUC\/status\/697503157853638657","display_url":"twitter.com\/CCandUC\/status\u2026","indices":[81,104]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        Jan 31 19:05:08 +0000 2016","id":693872660703526913,"id_str":"693872660703526913","text":"Photo
        from #nasa of the back side of the moon. \ud83d\ude80\ud83d\ude80\ud83d\ude80\ud83d\ude80
        https:\/\/t.co\/GenDMT1GUL","source":"\u003ca href=\"http:\/\/instagram.com\"
        rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3767014753,"id_str":"3767014753","name":"Steven
        Olson","screen_name":"oSteveOscar","location":"Denver, CO","description":"Current
        Turing student, photographer, traveler, form[...]
