---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="d36c3f6688b24f75eadd7e7066886d36",
        oauth_signature="RVMfn7vccgRzwWEdjVqKv5Jgz0g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455846834", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 01:53:56 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 572ef85dca320d81451e5c4368509e9c
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1455847736'
      X-Response-Time:
      - '167'
      X-Transaction:
      - f64f9c396dd04405
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Feb 19 01:40:54 +0000 2016","id":700495241078394881,"id_str":"700495241078394881","text":"RT
        @edatrix: Every time I visit Turing I come away feeling a little re-energized
        and inspired.\ud83d\udcad\ud83d\udcbb\u270a\ud83c\udffc https:\/\/t.co\/z9eHyoFTk7","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":7899342,"id_str":"7899342","name":"Mike
        Dao","screen_name":"mikedao","location":"Carmen Sandiego","description":"Teacher
        at @turingschool. Cyclist. Pizza Core Team Member. There is nothing cooler
        than being proud of the things you love. :wq","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1450,"friends_count":196,"listed_count":59,"created_at":"Thu
        Aug 02 04:28:44 +0000 2007","favourites_count":96,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":51624,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/639481151422201856\/L_i0v5bd_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/639481151422201856\/L_i0v5bd_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/7899342\/1393989709","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Feb 19 01:13:29 +0000 2016","id":700488340064305153,"id_str":"700488340064305153","text":"Every
        time I visit Turing I come away feeling a little re-energized and inspired.\ud83d\udcad\ud83d\udcbb\u270a\ud83c\udffc
        https:\/\/t.co\/z9eHyoFTk7","source":"\u003ca href=\"http:\/\/instagram.com\"
        rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":15754268,"id_str":"15754268","name":"lauren","screen_name":"edatrix","location":"Colorado","description":"software
        dev, feminist, food lover, environmentalist, girly girl, book enthusiast,
        summertime fanatic. mom to the world''s best baby & champion sweets-eater.","url":"http:\/\/t.co\/MIwj4dKBnM","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/MIwj4dKBnM","expanded_url":"http:\/\/about.me\/edatrix","display_url":"about.me\/edatrix","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":855,"friends_count":1001,"listed_count":59,"created_at":"Wed
        Aug 06 19:54:28 +0000 2008","favourites_count":2423,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":17870,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"709397","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/812529917\/13ce0aada18cb2b52b6dd9a0d8b819a0.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/812529917\/13ce0aada18cb2b52b6dd9a0d8b819a0.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1742606226\/images_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1742606226\/images_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/15754268\/1414531573","profile_link_color":"551A8B","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"A0C5C7","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":2,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/z9eHyoFTk7","expanded_url":"https:\/\/www.instagram.com\/p\/BB8vFMuuGaN\/","display_url":"instagram.com\/p\/BB8vFMuuGaN\/","indices":[86,109]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},"is_quote_status":false,"retweet_count":1,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"edatrix","name":"lauren","id":15754268,"id_str":"15754268","indices":[3,11]}],"urls":[{"url":"https:\/\/t.co\/z9eHyoFTk7","expanded_url":"https:\/\/www.instagram.com\/p\/BB8vFMuuGaN\/","display_url":"instagram.com\/p\/BB8vFMuuGaN\/","indices":[99,122]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable[...]
