---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/friendships/destroy.json
    body:
      encoding: UTF-8
      string: user_id=65148180
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="87eccd563d9f2e033ff81ec7cdce7110",
        oauth_signature="0H7rUlwx3zhbu8n4JA2b1Nst7tQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455912086", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 20:01:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 15a793688caf921cd76918af46ff6816
      X-Response-Time:
      - '93'
      X-Transaction:
      - a3747c643532a8a4
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":65148180,"id_str":"65148180","name":"Josh Cheek","screen_name":"josh_cheek","location":"Denver,
        CO","description":"Embrace chaos.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":974,"friends_count":346,"listed_count":59,"created_at":"Wed
        Aug 12 20:20:43 +0000 2009","favourites_count":3602,"utc_offset":-25200,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":11986,"lang":"en","status":{"created_at":"Fri
        Feb 19 18:28:56 +0000 2016","id":700748919232290816,"id_str":"700748919232290816","text":"@amgando
        You have a video of what this looks like? Or a description? ie what should
        the mind of the skimmer focus on?","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":700704245486526464,"in_reply_to_status_id_str":"700704245486526464","in_reply_to_user_id":17000805,"in_reply_to_user_id_str":"17000805","in_reply_to_screen_name":"amgando","geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"amgando","name":"sherif
        abushadi","id":17000805,"id_str":"17000805","indices":[0,8]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"352726","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme5\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000788806183\/13694fcc19dee91ca43f25cb7ceb1202_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000788806183\/13694fcc19dee91ca43f25cb7ceb1202_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/65148180\/1376372837","profile_link_color":"649954","profile_sidebar_border_color":"829D5E","profile_sidebar_fill_color":"99CC33","profile_text_color":"3E4415","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false}'
  recorded_at: Fri, 19 Feb 2016 20:01:26 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="CvmUuSJHUj9yAALQILJotUejB", oauth_nonce="52b4a024726ca1b29843ab75ba745823",
        oauth_signature="xvON8GAXCilavWqGpH0XxVey8Sw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1455912086", oauth_token="3767014753-pzD4G6hhmyH0dHEBNODBJrQqhYHbG0WCl2QRxEc",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 19 Feb 2016 20:01:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 9de5d001723dfbed75081549dbc0d43a
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1455912119'
      X-Response-Time:
      - '110'
      X-Transaction:
      - c964cc9dda1da6c2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Fri Feb 19 19:37:23 +0000 2016","id":700766147113852928,"id_str":"700766147113852928","text":"RT
        @dhh: Here are the stats for the Majestic Rails Monolith of Basecamp 3 after
        three months since release: https:\/\/t.co\/QQSFcDkCKr","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":380478790,"id_str":"380478790","name":"Sebastian
        Abondano","screen_name":"sabondano1","location":"","description":"I code all
        the things. Co-Creator of @mywebrc","url":"https:\/\/t.co\/V6ZDlkoZaK","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/V6ZDlkoZaK","expanded_url":"http:\/\/sebastianabondano.com\/","display_url":"sebastianabondano.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":83,"friends_count":315,"listed_count":2,"created_at":"Mon
        Sep 26 18:28:03 +0000 2011","favourites_count":74,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":221,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/519994762581925888\/QHOq7CeP_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/519994762581925888\/QHOq7CeP_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/380478790\/1412811927","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Feb 19 16:52:28 +0000 2016","id":700724641812377602,"id_str":"700724641812377602","text":"Here
        are the stats for the Majestic Rails Monolith of Basecamp 3 after three months
        since release: https:\/\/t.co\/QQSFcDkCKr","source":"\u003ca href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\"
        rel=\"nofollow\"\u003eTwitter for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_repl[...]
