
<div class="container-fluid container-home">
  <div class="circle-go"></div>
  <div class="circle-come"></div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">TwitterScroll</h1>
    <h2 class="home">You are a song bird</h2>
    <%= link_to "Login with Twitter", login_path, class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
</div>
