<%= image_tag('bird.png', class: "bird") %>
<!-- <%= image_tag('/assets/jamie.jpg', class: "about") %> -->
<div class="container-fluid container-home">
  <div class="circle-go"></div>
  <div class="circle-come"></div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">SparrowStats</h1>
    <h2 class="home">Aren't you a little songbird...</h2>
    <%= link_to "Login with Twitter", login_path, class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
</div>
