
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "custom";

$background-color: #1B3C59;
$button-yellow: #F8BB44;

body {
  background-color: $background-color
}
.bird {
  position:absolute;
  z-index:0;
  right:0px;
  top:10px;
  opacity: 0;
}
.container-home {
  background-color: $background-color;
  min-height: 90vh;
  padding-top: 17vh;
  text-align: center;
}

.home {
  color: white;
  font-weight: 100;
  font-size: 100;
}

h1.home {
  font-size: 60px;
  color: $button-yellow;
}
h2.home {
  color: #5A5A8E
}

.fades1, .fades2, .fades3 {
  opacity: 0;
}
.circle-go {
   width: 60vh;
   height: 60vh;
   background: $button-yellow;
   border-radius: 30vh;
   position:absolute;
   left:0;
   right:0;
   top: 10vh;
   margin-left:auto;
   margin-right:auto;
}
.circle-come {
   width: 60vh;
   height: 60vh;
   background: #5A5A8E;
   border-radius: 30vh;
   position:absolute;
   left:0;
   right:0;
   top:10vh;
   margin-left:auto;
   margin-right:auto;
   opacity: 0;
}
.circle2 {
   width: 15vh;
   height: 15vh;
   background: white;
   border-radius: 8vh;
   position:absolute;
   left:12px;
   right:0;
   top:65vh;
   margin-left:auto;
   margin-right:auto;
   opacity: 0;
}
.circle3 {
   width: 9vh;
   height: 9vh;
   background: $button-yellow;
   border-radius: 8vh;
   position:absolute;
   left:19px;
   right:0;
   top:78vh;
   margin-left:auto;
   margin-right:auto;
   opacity: 0;
}
a.btn.btn-lg.btn-default.btn-home.disabled {
  opacity: .5;
}
a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 4px;
  color: $button-yellow;
  font-weight: 100;
  border-color: $button-yellow;
  margin-top: 20px;
  font-weight: 200;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  background-color: white;
  color: $background-color;
  font-weight: 200;
}

img.img-circle.img-thumbnail.home-image {
  width: 20%;
  max-width: 180px;
  min-width: 100px;
}
.stats {
  position: absolute;
  top: 7px;
  left: 230px;
  margin: 4px;
  font-size: 12px;
  color: white;
}
.stats2 {
  position: absolute;
  top: 7px;
  left: 150px;
  margin: 4px;
  font-size: 12px;
  color: white;
}

// TWEETS
.ticker {
  max-width: 600px;
  overflow-y: auto;
}
li.tweet {
  color: white;
  font-weight: 100;
  font-size: 60;
}
.tweet-card {
  margin: 15px;
  padding: 15px;
  width: 500px;
  background-color: rgba(244, 245, 228, 0.88);
  opacity: .9;
  border-radius: 15px;
}
.tweet-image{
  height: 50px;
  float: left;
}

span{
  color: black;
}

// FEED
a.btn.btn-lg.btn-default.btn-home.retweeted{
  display: none;
}
.favorite{
  opacity: .3;
  transform: scale(.5);
  float: right;
}
.unfavorite{
  transform: scale(.5);
  float: right;
}
.hidden{
  display: none;
}
.retweet{
  float: left;
  background: $background-color;
  color: white;
  font-weight: 100;
  margin-top: 20px;
}
.unfollow{
  margin-top: 20px;
  background: white;
  color: $background-color;
  font-weight: 100;
}

// DASHBOARD
.intro {
  text-align: -webkit-center;
  max-width: 900px;
  min-width: 400px;
  margin: 0 auto;
}
h2.home.bio {
  color: white;
  font-size: 20px;
  opacity: 0;
}
h2.header {
  color: $button-yellow;
  opacity: .85;
}
.pillar {
  width: 500px;
  opacity: 0;
  display: block;
  padding-top: 20px;
  text-align: -webkit-center;
}
a.btn.btn-lg.btn-default.btn-dash {
  background-color: transparent;
  border-width: 3px;
  color: $button-yellow;
  font-weight: 200;
  border-color: white;
  margin: 8px;
}

a.btn.btn-lg.btn-default.btn-dash:hover {
  background-color: white;
  border-width: 3px;
  color: $background-color;
  font-weight: 200;
  border-color: transparent;
  margin: 8px;
}
.tweet-form {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
}
.small-text{
  font-size: 20px;
  color: $button-yellow;
  font-weight: 100;
}
.tweet-bird {
  height: 80px;
}
.tweet-bird:hover {
  height: 90px;
}
